* {
	box-sizing: border-box;
}
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.row {
 max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.col-4, .col-12 {
	float: left;
}
/*
.col-4, .col-12 {
  width: 100%;
}

@media only screen and (min-width: 640px) {
	.col-12 {

}

.col-4 {

}
}
*/



.row {
 max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}


.col-12 {

}

.col-4 {

}